@using DndApp.Data;
@using DndApp.Services;
@inject JsonService jservice;
<div class="row">
    <h1 class="col text-center">@cStats.Name The @cStats.Class.ToUpper() </h1>
</div>
<div class="text-center row"> 
    <div class="card col p-0">
        <div class="card-header my-0 px-0">
            <h4> Initiative </h4>
        </div>
        <div class="card-body">
            <p>@cStats.initiative_Mod</p>
        </div>
    </div>
 <div class="card col p-0"> 
     <div class="card-header my-0 px-0">
         <h4> Hp </h4>
     </div>
    <div class="card-body">
        <p>@cStats.hp</p>
    </div>
 </div>
    <div class="card col p-0">
        <div class="card-header my-0 px-0">
            <h4> Speed </h4>
        </div>
        <div class="card-body">
            <p>@cStats.speed</p>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public UserCharacterInfo? characterInfo { get; set; }
    public CharacterStats cStats { get; set; }
    protected override async Task OnInitializedAsync()
    {
        cStats = new(characterInfo);
        var jsonClass = await jservice.CharClass(characterInfo.Class);
        var jsonRace = await jservice.Race(characterInfo.Race);
        cStats.hp = cStats.constitution_Mod + jsonClass.hit_die;
        cStats.speed = (cStats.dexterity_Mod * 5) + jsonRace.speed;
    }
}
